html,body{
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
    background-color: white;
    color: #7F1F22;
}

#sticky_header {
	position: fixed;
	top: 0;
	width: 100%;
}

#banner {
	text-align: center;
    color: white;
    text-shadow: -1.5px 0 #d3bb3d, 0 1.5px #d3bb3d, 1.5px 0 #d3bb3d, 0 -1.5px #d3bb3d;
	padding: 0.8em;
	width: 100%;
    background-image: url(../images/apples_banner.jpg)
}

#sm {
    float: right;
}

#banner h1 {
    padding-top: 0.1em;
    padding-bottom: 0em;
    margin: 0em;
    font-family: 'Montserrat', sans-serif;
}

#banner h3 {
    padding-top: 0em;
    padding-bottom: 0.2em;
    margin: 0em;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#nav_bar {
	text-align: left;
    height: 1.4em;
	width: 100%;
	padding: 0.5em;
    background-color: #ca3136;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#nav_bar a {
    text-decoration: none;
    color: white;
}

.navspan {
	padding: 0.8em;
}

#main {
    float:left;
	margin-top: 10em;
	margin-right: auto;
	margin-left: 3em;
	width: 75%;
}

#main h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #ca3136;
}

#main p {
    font-family: 'Open sans', sans-serif;
}

#main p span {
    font-weight: bolder;
}

#twitfeed {
    float:right;
    width:18%;
    margin-top: 9.2em;
    margin-right: auto;
    margin-left:auto;
}

#buttons {
    display: block;
    margin: auto;
    width: 40%;
}

#photo1 {
    float: left;
    width:31%;
    margin-left: 3%;
}

#photo2 {
    float: left;
    /*position: relative;*/
    width:34%;
}

#photo3 {
    float: left;
    width:30%;
}

#content {
	display: inline-block;
}

#sm-content {
    padding-right: 2em;
    padding-left: 1em;
}

#sm-content ul li {
    display: inline-block;
    height: 2em;
    border-right: 1px dashed #a7a7a7;
}

#sm-content ul li a {
    display: block;
    width: 100%;
    height: 100%;
}

.facebook {
    width: 50px;
    height: 45px;
    background: url(../images/facebook.jpeg) no-repeat center center;
    padding: 0 10px;
}

.twitter {
    width: 50px;
    height: 45px;
    background: url(../images/twitter.jpeg) no-repeat center center;
    padding: 0 10px;
}

.youtube {
    width: 50px;
    height: 45px;
    background: url(../images/youtube.jpeg) no-repeat center center;
    padding: 0 10px;
    border-right: none !important;
}

#sm-content ul li span {
    visibility: hidden;
}

/** Transportation.php css */

#map{
    float: left;
    width:65%;
}

#tcat {
    float:right;
    width:35%;
}

/** Contact.php css */

#contact-content {
    float:left;
    width: 75%;
    margin-left: 1%;
}

#dia-img {
    margin-top:2em;
    float:right;
    width:20%;
}


table{
    border-collapse:collapse;
    border-spacing: 0;
    font-family: 'Open sans', sans-serif;
    margin: auto;
    margin-top: 1.5em;
}

table, th, td {
    border: 1px solid;
    padding: 0.75em;
    text-align: center;
}

/*********/
/* split between styling and media queries */
/******/ 

@media screen and (min-width: 0px) and (max-width: 480px) {
    
    .navspan {
        font-size: 0.8em;
        padding-bottom: 0.2em;
        padding-top: 0.2em;
        display: block;
        text-align: center;
        border-bottom: 0.1em Solid white;
        margin-right: 2.5em;
    }
    
    #main {
        width: 85%;
        padding-right: 0.5em;
        padding-left: 0.5em;
        margin-top: 17em;
    }
    
    p {
        font-size:0.8em;
    }

    #sm-content {
        display: inline;
    }

}