html,body{
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
}

#sticky_header {
	position: fixed;
	top: 0;
	width: 100%;
}

#banner {
	text-align: center;
	padding: 10px;
	width: 100%;
}

#nav_bar {
	text-align: center;
	width: 100%;
	padding: 5px;
}

.navspan {
	padding: 10px;
}

#main {
	margin-top: 9em;
	margin-right: auto;
	margin-left: auto;
	width: 960px;
}

#content {
	display: inline-block;
	width: 90%;
}